<!DOCTYPE html>


<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
	<a class="navbar-brand" href="/ ">Budget Planner</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/ ">Yhteenveto</a>
            <li class="nav-item">
              <a class="nav-link" href="/new ">Menot</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/income">Tulot</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/settings">Asetukset</a>
          </ul>
        <div class="form-inline mt-2 mt-md-0">
	  
	    <a class="btn btn-outline-primary mr-1" href="/logout">Kirjaudu ulos</a>
	    
          </div>
	</div>
      </nav>
      <main role="main" class="container">
